:root{
    --main-dark: rgba(11, 14, 216, 0.733);
    --main-light: aliceblue;
    --border-radius: 5px;
    --textColor: rgb(168, 167, 167)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* doesn't change the width of HTML elements*/
    border-radius: var(--border-radius);
    /* border: 2px solid red; */

}

body{
    background-color: var(--main-dark);
}

#main-display{
    display: flexbox;
    flex-direction: column;
    width: 80%;
    margin: 40px auto;
    align-items: center;
    
}
#title{
    margin-top: 20px;
    margin: auto;
    color: whitesmoke;
    text-align: center;
    width: 40%;
    background-color: rgb(168, 167, 167);
    
}

#city-input{
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
.border{
    border: 2px solid yellow;
}
.error{
    display: inline;
    color: rgb(228, 190, 190);
    
    font-weight: bold;
    width: 40%;
}
.city-field{
    padding: 2px;
    background-color: var(--main-light);
   

}
[type="text"]{
    width: 25%
}
span{
    display: inline-block;
    color: var(--main-dark);
    text-align: right;
    position: relative;
    right: 0;
}

.weather-info div{
  
    color: rgb(168, 167, 167);
    width: 20%;
    margin-bottom: 10px;
    margin-left: 50vh;
    padding: 2px;
    background-color: var(--main-light);
    font-weight: bold;

}


footer{
    color: var(--textColor);
    margin-top: 20px;
    position: relative;
    left: 10vh;
}

a{
    
    color: var(--textColor)
}

a:hover{
    background-color: rgb(184, 85, 184);
    color: yellow;
    padding: 2px;
}
